spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/snackbar
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  h2:
    console:
      enabled: false

admin:
  password: ${ADMIN_PASSWORD}
